.ui.container {
  width: 60%;
  margin-top: 50px;
}

.ui.modal {
  top: 30%;
}
.row-info-user {
  display: flex;
}
.row-key {
  width: 20%;
}
.row-value {
  width: 80%;
}
.info-list ul {
  margin: 0;
  padding: 0;
}
.info-list li {
  list-style-type: none;
  margin-left: 10px;
}
.info-list li span {
  padding: 5px;
}